.mainContainer{
    margin-top:100px;
    margin-bottom:100px;
}

.blogContainer{
    display: flex;
    justify-content: space-between;
    gap:70px 20px;
    flex-wrap:wrap;
}
.Heading{
    display: flex;
    align-items: center;
    gap:30px;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Line{
    flex:1;
    height:3px;
    border-radius: 8px;
    background-color: gray;
}

.SliderPic{
    object-fit: conatin;
    width: 100vw;
    height: 490px;
}