.button{
    padding: 0.75rem 1.5rem; 
    transition-duration: 300ms; 
    color: black; 
    font-size: 1rem;
    line-height: 1.5rem; 
    font-weight: 500; 
    border-radius: 9999px; 
    background-color:aqua;
}

.button:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
}

@media (min-width: 768px) { 
  .button{
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1.75rem;
    padding-right: 1.75rem; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
}
 }