<<<<<<< HEAD

=======
>>>>>>> cc862cb40c7e9d0e39b1f41a1f9122454c1bb584
.mainContainer{
    margin-top:80px;
}

.blogContainer{
    display: flex;
    justify-content: space-between;
    gap:70px 20px;
    flex-wrap:wrap;
}
.Heading{
    display: flex;
    align-items: center;
    gap:30px;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Line{
    width: 84%;
    height:3px;
    border-radius: 8px;
    background-color: gray;
}
